@use "../base/variables" as *;


@use "../base/variables" as *;

.footer {
  padding-top: 180px;
  padding-bottom: 20px; 

  &__text {
    display: flex;
    flex-wrap: wrap;      
    justify-content: center; 
    gap: 4px;              
    color: #939393;
    font-family: Montserrat, sans-serif;
    font-size: 14px;      
    font-weight: 400;
    line-height: 1.5;      
    
    @media screen and (min-width: 768px) {
      font-size: 16px;
    }
  }

  &__span {
    color: red;
  }
}

















