<section class="events">
  <div class="events__container container">
    <ul class="events__list"></ul>

    <div class="pagination">
      <button class="pagination__btn pagination__btn--active" type="button">1</button>
      <button class="pagination__btn" type="button">2</button>
      <button class="pagination__btn" type="button">3</button>
      <button class="pagination__btn" type="button">4</button>
      <button class="pagination__btn" type="button">5</button>
      <span class="pagination__dots">...</span>
      <button class="pagination__btn" type="button">29</button>
    </div>
  </div>
</section>