<section class="hero">
  <div class="container hero__overlay">
    <div class="hero__content">
      <h1 class="hero__title">FIND BEST EVENTS <br> AROUND THE WORLD</h1>
      
      <form class="hero__search">
        <div class="search-wrapper">
          <input type="text" placeholder="Start searching" class="searching-input">
          <img src="../img/search icon.svg" alt="search" class="hero__search-icon">
          </div>
        
        <select class="country-select">
          <option value="">Choose country</option>
          <option value="ua">Ukraine</option>
          <option value="us">USA</option>
          <option value="pl">Poland</option>
        </select>
      </form>  
    </div>
  </div>
</section>