<section class="hero">
  <div class="container hero__overlay">
    <div class="hero__content">
      <h1 class="hero__title">FIND BEST EVENTS <br> AROUND THE WORLD</h1>
      
      <form class="hero__search">
        <div class="search-wrapper">
          <input type="text" placeholder="Start searching" class="searching-input">
          <img src="./img/search icon.svg" alt="search" class="hero__search-icon">
          </div>
        
    <select class="country-select">
  <option value="">Choose country</option>
  <option value="UA">Ukraine</option>
  <option value="US">USA</option>
  <option value="GB">United Kingdom</option>
  <option value="PL">Poland</option>
  <option value="DE">Germany</option>
  <option value="FR">France</option>
  <option value="ES">Spain</option>
  <option value="IT">Italy</option>
  <option value="CA">Canada</option>
  <option value="AU">Australia</option>
  <option value="NL">Netherlands</option>
  <option value="IE">Ireland</option>
</select>
      </form>  
    </div>
  </div>
</section>